<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zendesk Coding Challenge</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/ticket.css')}}"/>
</head>
<body>
<div class="container-fluid">
  <div class="row content"><div class="col-sm-3 sidenav">
    <br><br>
    <form>
      <div class="form-group">
        <label style="font-size: large;">Ticket #{{payload["ticket"]["id"]}}&nbsp;&nbsp;<span class="label label-info">{{payload["ticket"]["status"]}}</span></label>
        <hr style="height: 1px;background-color: rgb(236, 230, 230);border: none;">
      </div>
      <br> 
      <div class="form-group">
        <label for="requesterName">Requester</label>
        <input type="text" class="form-control" id="requesterName" aria-describedby="emailHelp" value="{{payload['ticket']['requesterName']}}" readonly>
      </div>
      <div class="form-group">
        <label for="assigneeName">Assignee</label>
        <input type="text" class="form-control" id="assigneeName" value="{{payload['ticket']['assigneeName']}}" readonly>
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>
        <br>
        {%for tag in payload["ticket"]["tags"]%}
          <span class="badge badge-primary">{{tag}}</span>
        {%endfor%}
      </div>
    </form>
  </div>

    <div class="col-sm-9">
	<div class="float-start"><h3>{{payload["ticket"]["subject"]}}</h3></div>
	 <div class="float-end"><h5>via {{payload["ticket"]["via"]["channel"]}}</h5></div>
	  <hr style="height: 1px;background-color: rgb(245, 241, 241);border: none;">
    
      
      {%if payload["commentCount"] > 1 %}
        <p><span class="badge">{{payload["commentCount"]}}</span> Comments:</p><br>
      {%else%}
        <p><span class="badge">{{payload["commentCount"]}}</span> Comment:</p><br> 
      {%endif%}
		{%for comment in payload["comments"]%}
			<div class="row">
        <div class="col-sm-1 text-center">
          <img src="{{comment['photo_url']}}" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>{{comment["authorName"]}}&nbsp;&nbsp;<small class="float-right">{{comment["created_at"]}}</small></h4>
          <p><pre>{{comment["body"]}}</pre></p>
          <br>
        </div>
			</div>
		{%endfor%}
    </div>
  </div>
</div>

</body>
</html>
